<a href="https://colab.research.google.com/github/deswitana/materi_python/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**@create By : Dede Brahma Arianto S.Kom., M.Kom**

# Basic Python

## Variable

In [ ]:
#@title Variable

nama = 'Dede'
umur = 18
berat_badan = 87.5

In [ ]:
print("Nama :", nama)
print("Umur :", umur)
print("Berat Badan :", berat_badan)

Nama : Dede
Umur : 18
Berat Badan : 87.5

In [ ]:
#@title Variable with Input

nama2 = input("Masukkan Nama Anda: ")
umur2 = input("Masukkan Usia Anda: ")
berat_badan2 = input("Masukkan Berat Badan Anda: ")

Masukkan Nama Anda: tata
Masukkan Usia Anda: 22
Masukkan Berat Badan Anda: 40

In [ ]:
print("Nama :", nama2)
print("Umur :", umur2)
print("Berat Badan :", berat_badan2)

Nama : tata
Umur : 22
Berat Badan : 40

In [ ]:
#@title Calculate with Variable

tinggi_badan = 1.75
bmi = berat_badan / (tinggi_badan ** 2)

print("Berat Ideal :", bmi)

Berat Ideal : 28.571428571428573

In [ ]:
#@title Update Value Variable

umur2 = 22

In [ ]:
print("Nama :", nama)
print("Umur 1 :", umur)
print("Umur 2 :", umur2)
print("Berat Badan :", berat_badan)
print("Tinggi Badan :", tinggi_badan)
print("BMI :", bmi)

Nama : Dede
Umur 1 : 18
Umur 2 : 22
Berat Badan : 87.5
Tinggi Badan : 1.75
BMI : 28.571428571428573

In [ ]:
nama_1 = 'dede'
print(nama_1)

dede

## Komentar

In [ ]:
# ini adalah komentar
# nama = 'dede' # ini adalah variabel nama
# print(nama)
# block code, kemudian ctrl + /

## Data Type

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#@title Numeric Data Type

a = 10        # integer
b = 3.14      # float

In [ ]:
print("A :", a)
print("B :", b)

A : 10
B : 3.14

In [ ]:
#@title String Data Type

nama = "John Doe"   # string
alamat = 'Jl. Ahmad Yani No. 10'   # string

In [ ]:
print("Nama :", nama)
print("Alamat :", alamat)

Nama : John Doe
Alamat : Jl. Ahmad Yani No. 10

In [ ]:
#@title Boolean Data Type

benar = True      # boolean True
salah = False     # boolean False

In [ ]:
print(benar)

True

In [ ]:
#@title List Data Type

buah = ['apel', 'jeruk', 'mangga', 'pisang']  # list
angka = [1, 2, 3, 4, 5]                      # list

In [ ]:
print("Buah :", buah)
print("Angka :", angka)

Buah : ['apel', 'jeruk', 'mangga', 'pisang']
Angka : [1, 2, 3, 4, 5]

In [ ]:
#@title Tuple Data Type

hari = ('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat')  #
bulan = ('Januari', 'Februari', 'Maret')

In [ ]:
print("Hari :", hari)
print("Bulan :", bulan)

Hari : ('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat')
Bulan : ('Januari', 'Februari', 'Maret')

In [ ]:
#@title Set Data Type

buah = {'apel', 'jeruk', 'mangga', 'pisang'}  # set
angka = set([1, 2, 3, 4, 5])

In [ ]:
print("Buah :", buah)
print("Angka :", angka)

Buah : {'mangga', 'pisang', 'jeruk', 'apel'}
Angka : {1, 2, 3, 4, 5}

In [ ]:
#@title Dictionary Data Type

data = {'nama': 'John Doe', 'umur': 25, 'alamat': 'Jl. Ahmad Yani No. 10'}   # dictionary
# key (nama, umur, alamat)
# value (john doe, 25, jl.ahmad yani)

In [ ]:
print(data)

{'nama': 'John Doe', 'umur': 25, 'alamat': 'Jl. Ahmad Yani No. 10'}

In [ ]:
#@title Data Type Checking

# Tipe data integer
x = 5
print(type(x))    # Output: <class 'int'>

# Tipe data float
y = 3.14
print(type(y))    # Output: <class 'float'>

# Tipe data string
z = 'Hello, World!'
print(type(z))    # Output: <class 'str'>

# Tipe data boolean
a = True
print(type(a))    # Output: <class 'bool'>

# Tipe data list
b = [1, 2, 3, 4, 5]
print(type(b))    # Output: <class 'list'>

# Tipe data tuple
c = (1, 2, 3, 4, 5)
print(type(c))    # Output: <class 'tuple'>

# Tipe data set
d = {1, 2, 3, 4, 5}
print(type(d))    # Output: <class 'set'>

# Tipe data dictionary
e = {'nama': 'John Doe', 'umur': 25}
print(type(e))    # Output: <class 'dict'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

## Basic arithmetic operation

In [ ]:
#@title Penjumlahan

x = 10
y = 5
z = x + y
print(z)    # Output: 15

15

In [ ]:
#@title Pengurangan

x = 10
y = 5
z = x - y
print(z)    # Output: 5

5

In [ ]:
#@title Perkalian


x = 10
y = 5
z = x * y
print(z)    # Output: 50

50

In [ ]:
#@title Pembagian

x = 10
y = 5
z = x / y
print(z)    # Output: 2.0

2.0

In [ ]:
#@title Pembagian Bulat

x = 9
y = 3
z = x // y
print(z)    # Output: 3

3

In [ ]:
#@title Modulus

x = 13
y = 3
z = x % y
print(z)    # Output: 1

1

In [ ]:
#@title Pangkat


x = 2
y = 3
z = x ** y
print(z)    # Output: 8

8

## String Manipulation

In [ ]:
#@title Concatenation


a = "Halo"
b = "Dunia"
c = a + " " + b
print(c) # Output: "Halo Dunia"

Halo Dunia

In [ ]:
#@title Multiplication

a = "Halo "
b = a * 3
print(b) # Output: "Halo Halo Halo "

Halo Halo Halo

In [ ]:
#@title Indexing

# index, start = 0
# index positif = 0,1,2,3
# index negatif = -1, -2, -3
a = "Halo, Dunia!"

b = a[0]
c = a[2]
d = a[-1]
e = a[-12]
f = len(a)


print(a) # Output: "Halo, Dunia!"
print(b) # Output: "H"
print(c) # Output: "l"
print(d) # Output: "!"
print(e)
print(f)

Halo, Dunia!
H
l
!
H
12

In [ ]:
#@title Slicing
# start:end
# start:end:lompatan

a = "Halo Dunia"
b = a[0:6]
c = a[0:8:2]
print(b)
print(c) # Output: "Halo"

Halo D
Hl u

In [ ]:
#@title Replace
# replace(oldvalue, newvalue)

a = "Halo Dunia"
b = a.replace("Dunia", "Semua")
print(b) # Output: "Halo Semua"

Halo Semua

In [ ]:
#@title Lowercase

a = "Halo Dunia"
b = a.lower()
print(b) # Output: "halo dunia"

halo dunia

In [ ]:
#@title Uppercase

a = "Halo Dunia"
b = a.upper()
print(b) # Output: "HALO DUNIA"

HALO DUNIA

In [ ]:
#@title Capitalize

a = "Halo Dunia"
b = a.capitalize()
print(b) # Output: "Halo dunia"

Halo dunia

In [ ]:
print(a.capitalize())

Halo dunia

In [ ]:
#@title Split

a = "Halo, Dunia, Semua"
b = a.split(", ")
print(type(a))
print(b)
print(type(b))
print(b[1]) # Output: ["Halo", "Dunia", "Semua"]

<class 'str'>
['Halo', 'Dunia', 'Semua']
<class 'list'>
Dunia

In [ ]:
#@title Join

a = ["Halo", "Dunia", "Semua"]
b = ", ".join(a)

print(type(a))
print(a)

print("========")
print(type(b))
print(b) # Output: "Halo, Dunia, Semua"

<class 'list'>
['Halo', 'Dunia', 'Semua']
========
<class 'str'>
Halo, Dunia, Semua

## Typecasting

In [ ]:
#@title Data Type Casting - Integer

x = '5'
y = int(x)

print(type(x))
print(y)    # Output: 5
print(type(y)) # Output: int

<class 'str'>
5
<class 'int'>

In [ ]:
#@title Data Type Casting - Float


x = '3'
y = float(x)
print(y)    # Output: 3.14
print(type(y)) # Output: float

3.0
<class 'float'>

In [ ]:
#@title Data Type Casting - String

x = 5
y = str(x)

print(type(x))
print(y)    # Output: '5'
print(type(y)) # Output: str

<class 'int'>
5
<class 'str'>

In [ ]:
#@title Data Type Casting - Boolean

x = ''
y = bool(x)
print(y)    # Output: False
print(type(y)) # Output: bool

False
<class 'bool'>

## Latihan

1. Buat contoh :
- Variabel
- Data type
- Arithmatic
- manipulation
- type casting

2. Diberikan nomor telepon berikut.

phone_num = “+62801-0029-9000”

ganti “+62” menjadi “0” dan hilangkan simbol “-”

In [ ]:
#Variabel
name = input('hallo, siapa nama kamu? ')
age = input('berapa umur kamu? ')
height = int(input('berapa tinggi badan kamu? '))
weight = int(input('berapa berat badan kamu? '))
bmi = (height-100)-((height-100)*15//100)

print('--------------------------------')
print("Name :", name)
print("Age :", age)
print("Height :", height)
print("Weight :", weight)
print("BMI :", bmi)

hallo, siapa nama kamu? tata
berapa umur kamu? 22
berapa tinggi badan kamu? 150
berapa berat badan kamu? 40
--------------------------------
Name : tata
Age : 22
Height : 150
Weight : 40
BMI : 43

In [ ]:
#data type
name = 'tata' #string
universitas = 'UNSIQ' #string
addres = 'Jl. Kenangan no. 12' #string
is_student = True #boolean
study_day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday'] #list
data = {'name' : 'tata', 'age' : '22'} #dictionary

print("Name :", name)
print("Universitas :", universitas)
print("Addres :", addres)
print("Student :", is_student)
print("Study Day :", study_day)
print(data)

Name : tata
Universitas : UNSIQ
Addres : Jl. Kenangan no. 12
Student : True
Study Day : ['Monday', 'Tuesday', 'Wednesday', 'Thursday']
{'name': 'tata', 'age': '22'}

In [ ]:
#arithmatic
a = 12
b = 27
c = 2
d = 1
x = c*b-d+a//c #pembagian bulat
y = b%c #modulus
z = c #pangkat

print('Pembagian Bulat =',x)
print('Modulus =', y)
print('Pangkat =', z)

Pembagian Bulat = 59
Modulus = 1
Pangkat = 2

In [ ]:
#string manipulation
a = "Deswita Alifia"
b = "Deswita "
c = "Alifia "
d = b + c #concatenation/penggabungan
e = c * 2 #multiplication/penggandaan
f = b[5] #indexing
g = c[0:5:2] #slicing
h = b.replace("Deswita", "tata") #replace
i = e.lower() #lowercase
j = h.upper() #uppercase
k = h.capitalize() #capitalize
l = a.split(" ") #split
m = " ".join(l) #join

print("Concatenation =", d)
print("Multiplication =", e)
print("Indexing =", f)
print("Slicing =", g)
print("Replace =", h)
print("Lowercase =", i)
print("Uppercase =", j)
print("Capitalize =", k)
print("Split =", l)
print("Join =", m)

Concatenation = Deswita Alifia
Multiplication = Alifia Alifia
Indexing = t
Slicing = Aii
Replace = tata
Lowercase = alifia alifia
Uppercase = TATA
Capitalize = Tata
Split = ['Deswita', 'Alifia']
Join = Deswita Alifia

In [ ]:
#typecasting
strNum = 12
floatNum = float(strNum)
intNum = int(strNum+strNum)
boolNumT = 1
boolNumF = 0
boolValT = bool(boolNumT)
boolValF = bool(boolNumF)
print(floatNum)
print(intNum)
print(boolValT)
print(boolValF)

12.0
24
True
False

In [ ]:
#nomer dua
noTelp = '+62801-0029-9000'
noTelp = noTelp.replace('+62','0') #merubah +62 jadi 0
noTelp = noTelp.replace('-','') #menghilangkan simbol '-'
print(noTelp)

080100299000

In [ ]:
name = input('hallo, siapa nama kamu? ')
age = input('berapa umur kamu?')
hobby = input('apa hobimu?')
print('--------------------------------')
print('Nama : ',name)
print('Umur : ',age)
print('Hobi : ',hobby)
print('--------------------------------')
firstNum = int(input('Masukkan angka pertama :'))
secondNum = int(input('Masukkan angka kedua :'))
print('--------------------------------')
print('Angka pertama adalah :', firstNum)
print('Tipedata angka pertama adalah :', type(firstNum))
print('Angka kedua adalah :', secondNum)
print('Tipedata angka kedua adalah :', type(secondNum))
print('--------------------------------')
print('Hasil penjumlahan angka pertama dan kedua adalah :', firstNum+secondNum)
print('Hasil perkalian angka pertama dan kedua adalah :', firstNum*secondNum)
print('Hasil pembagian angka pertama dan kedua adalah :', float(firstNum/secondNum))
print('--------------------------------')
numList = int(input('Masukkan jumlah data pada list :'))
listKu = []
for x in range(numList):
     val = int(input('Masukkan angka :'))
     listKu.append(val)
print(listKu)

hallo, siapa nama kamu? tata
berapa umur kamu?22
apa hobimu?berenang
--------------------------------
Nama :  tata
Umur :  22
Hobi :  berenang
--------------------------------
Masukkan angka pertama :2
Masukkan angka kedua :12
--------------------------------
Angka pertama adalah : 2
Tipedata angka pertama adalah : <class 'int'>
Angka kedua adalah : 12
Tipedata angka kedua adalah : <class 'int'>
--------------------------------
Hasil penjumlahan angka pertama dan kedua adalah : 14
Hasil perkalian angka pertama dan kedua adalah : 24
Hasil pembagian angka pertama dan kedua adalah : 0.16666666666666666
--------------------------------
Masukkan jumlah data pada list :2
Masukkan angka :1
Masukkan angka :4
[1, 4]