**@create By : Dede Brahma Arianto S.Kom., M.Kom**

# Loop Python

## String Formatting

In [ ]:
#@title Add Variable

nama = "John"
umur = 25

print("Nama saya {}, dan umur saya {} tahun".format(nama, umur))
#(nama, umur) akan menggantikan kurung kurawal keriting di hasil akhirnya

Nama saya 25, dan umur saya John tahun

In [ ]:
#@title f-string

nama = "John"
umur = 25

print(f"Nama saya {nama}, dan umur saya {umur} tahun")
#menyisipkan variable di tengah string, menggunakan kurung kurawal keriting

Nama saya John, dan umur saya 25 tahun

In [ ]:
#@title Print Argument

nama = "John"
umur = 25
print("Nama saya", nama, "dan umur saya", umur, "tahun", sep=", ", end=".\n")
#sep adalah pemisah antara variabel yang akan dimasukan
#end penambahannya di akhir statement print
# /n = new line = menggambarkan satu enter

Nama saya, John, dan umur saya, 25, tahun.

In [ ]:
#@title str.format_map()

data = {"nama": "John", "umur": 25}
print("Nama saya {nama}, dan umur saya {umur} tahun".format_map(data))
#dipakai untuk format dictionary

Nama saya John, dan umur saya 25 tahun

In [ ]:
#@title operator % (regular expression/regex)

nama = "John"
jk = "laki-laki"
umur = 25
tinggi = 173

print("Nama saya %s, dan umur saya %d tahun, saya seorang %s dan tinggi saya %d" % (nama, umur, jk, tinggi))
# %s = string
# %d = numeric
#variable disusun berdasarkan urutannya

Nama saya John, dan umur saya 25 tahun, saya seorang laki-laki dan tinggi saya 173

## Looping (Perulangan)

In [ ]:
#@title While

hitung = 1

while hitung <= 10:
    print(hitung)
    hitung = hitung + 1
    # hitung += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
hitung = 1

while hitung <= 10:
    print(f"Perulangan ke-{hitung}")
    hitung += 1

Perulangan ke-1
Perulangan ke-2
Perulangan ke-3
Perulangan ke-4
Perulangan ke-5
Perulangan ke-6
Perulangan ke-7
Perulangan ke-8
Perulangan ke-9
Perulangan ke-10

In [2]:
jawab = 'ya'
hitung = 0

while(jawab == 'ya'):
    hitung += 1
    jawab = input("Ulang lagi tidak? ")

print(f"Total perulangan: {hitung}")

Total perulangan: 5

In [ ]:
#@title While dengan IF

hitung = 1
n = int(input("Masukkan nilai lebih dari 0: "))

while hitung <= n:
    if hitung % 2 == 0:
        print(f"Bilangan {hitung} Genap")
        hitung += 1
    else:
        print(f"Bilangan {hitung} Ganjil")
        hitung += 1

Masukkan nilai lebih dari 0: 5
Bilangan 1 Ganjil
Bilangan 2 Genap
Bilangan 3 Ganjil
Bilangan 4 Genap
Bilangan 5 Ganjil

In [ ]:
#@title For

fruits = ["apple", "banana", "cherry", "semangka"]

for z in fruits:
    print(z)
#print tanpa index ""

apple
banana
cherry
semangka

In [ ]:
buah = ["apple", "banana", "cherry"]

for item in buah: #declare satu persatu item
    print("Item buah saat ini : %s" % item)

Item buah saat ini : apple
Item buah saat ini : banana
Item buah saat ini : cherry

In [ ]:
text = "Halo "

for char in text:
	print(char)
#char = looping satu huruf/karakter

H
a
l
o

### For Range

Fungsi 'range(n)' akan menghasilkan deret angka mulai dari 0 sampai 'n - 1'

In [ ]:
# default start 0

for i in range(8):
	print(i)

0
1
2
3
4
5
6
7

Fungsi 'range()' juga dapat digunakan dengan dua atau tiga argumen.

Misalnya, 'range(start, stop)' akan menghasilkan angka mulai dari 'start' hingga 'stop - 1'.

In [ ]:
for i in range(2, 5):
	print(i)

2
3
4

'range(start, stop, step)' akan menghasilkan angka mulai dari 'start', meningkat dengan 'step' di setiap langkah, dan berhenti sebelum 'stop'.

In [ ]:
for i in range(1, 20, 3):
	print(i)

1
4
7
10
13
16
19

### For Break

In [ ]:
for i in range(10):
  print(i)
  if i == 5:
	  break
#break = memberhentikan fungsi

0
1
2
3
4
5

In [ ]:
for i in range (10):
  print(i)
  if i == 5:
    print("Nilai i sudah sama dengan 5")
    continue
#continue = melanjutkan sampai range akhir

0
1
2
3
4
5
Nilai i sudah sama dengan 5
6
7
8
9

### For Else

In [ ]:
listKota = [
  'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
  'Jogjakarta', 'Semarang', 'Makassar'
]

for item in listKota:
  print(item)
else:
  print('Tidak ada lagi item yang tersisa')

Jakarta
Surabaya
Depok
Bekasi
Solo
Jogjakarta
Semarang
Makassar
Tidak ada lagi item yang tersisa

In [ ]:
listKota = [
  'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
  'Jogjakarta', 'Semarang', 'Makassar'
]
for index, item in enumerate(listKota):
  print(index, item)
#enumerate = memperlihatkan index

0 Jakarta
1 Surabaya
2 Depok
3 Bekasi
4 Solo
5 Jogjakarta
6 Semarang
7 Makassar

In [ ]:
listKota = [
  'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
  'Jogjakarta', 'Semarang', 'Makassar'
]

kotaYangDicari = input('Ketik nama kota yang kamu cari: ')

for index, item in enumerate(listKota):
  if item.lower() == kotaYangDicari.lower():
    print('Kota yang anda cari berada pada indeks', index)
    break
else:
  print('Maaf, kota yang anda cari tidak ada')
#lower = huruf kecil

Ketik nama kota yang kamu cari: Solo
Kota yang anda cari berada pada indeks 4

In [ ]:
fruit = ["apel", "jeruk", "semangka"]

for index, item_buah in enumerate(fruit):
  print(index)
  print(item_buah)

0
apel
1
jeruk
2
semangka

### Nested Loop

In [ ]:
for baris in range(1, 6):
    for kolom in range(1, 6):
        print(f"Baris{baris}, Kolom{kolom}")

Baris1, Kolom1
Baris1, Kolom2
Baris1, Kolom3
Baris1, Kolom4
Baris1, Kolom5
Baris2, Kolom1
Baris2, Kolom2
Baris2, Kolom3
Baris2, Kolom4
Baris2, Kolom5
Baris3, Kolom1
Baris3, Kolom2
Baris3, Kolom3
Baris3, Kolom4
Baris3, Kolom5
Baris4, Kolom1
Baris4, Kolom2
Baris4, Kolom3
Baris4, Kolom4
Baris4, Kolom5
Baris5, Kolom1
Baris5, Kolom2
Baris5, Kolom3
Baris5, Kolom4
Baris5, Kolom5

### Reverse Loop

In [ ]:
# range(start, end, step)
# range(default =0, end)

n = 6

for num in reversed(range(n+1)):
  print(num, end=" ")

6 5 4 3 2 1 0

In [ ]:
# menggunakan fungsi reversed
N = 6

print ("Hasil reverse : ", end = "")
for num in reversed(range(N + 1)) :
    print(num, end = " ")

Hasil reverse : 6 5 4 3 2 1 0

In [ ]:
# tanpa menggunakan fungsi reversed
N = 6

print ("Hasil reverse : ", end = "")
for num in range(N, -1, -1) :
    print(num, end = " ")

Hasil reverse : 6 5 4 3 2 1 0

In [ ]:
# menggunakan while
N = 6

print("Hasil reverse : ", end='')
while(N >= 0):
    print(N, end=' ')
    N -= 1

Hasil reverse : 6 5 4 3 2 1 0

## Soal 1

Buatlah script yang dapat memberikan output berupa pola segitiga siku-siku berdasarkan jumlah bintang yang diinput. Sebagai contoh:

Input:

Masukkan tinggi segitiga: 5

Output:

![image.png]()

In [3]:
tinggi = int(input("Masukkan tinggi segitiga: "))
for x in range(tinggi):
    print('*' * (x+1))
#x = variable iterasi = variabel sementara yang nilainya dapat diubah setiap kali loop beriterasi

*
**
***
****
*****

## Soal 2

Buatlah script yang dapat memberikan output seperti gambar dibawah ini

Output:

![image.png]()

In [4]:
tinggi = 5
for x in range(tinggi):
    print('*' * (x+1))
for x in reversed(range(tinggi)):
    print('*' * (x))

*
**
***
****
*****
****
***
**
*

## Soal 3

* Buat contoh while yang didalamnya terdapat if-elif-else
* Buat Nested loop yang didalamnya terdapat if-else

In [5]:
#mencari bola naga
bola = ['Bola Api', 'Bola Voli', 'Bola Naga', 'Bola Kasti', 'Bola Pingpong', 'Bola Sepak']
counter = 0 #index list mulai dari 0 maka couter memiliki nilai awal 0
while (counter < len(bola)):
    if(bola[counter] == 'Bola Naga'):
        print('Bola ke-'+str(counter+1)+' adalah Bola Naga')
    elif(bola[counter] == 'Bola Sepak'):
        print('Bola ke-'+str(counter+1)+' adalah Bola Sepak')
    else:
        print('Bola ke-'+str(counter+1)+' bukan Bola Naga atau Bola Sepak')
    counter += 1

Bola ke-1 bukan Bola Naga atau Bola Sepak
Bola ke-2 bukan Bola Naga atau Bola Sepak
Bola ke-3 adalah Bola Naga
Bola ke-4 bukan Bola Naga atau Bola Sepak
Bola ke-5 bukan Bola Naga atau Bola Sepak
Bola ke-6 adalah Bola Sepak

In [6]:
#NESTED LOOPY
for x in range(5): #perulangan luar
    print('Perulangan ke-'+str(x+1))
    for y in range(5): #perulangan dalam
        if(x == y):
            print(str(x) + ' sama dengan ' + str(y))
        else:
            print(str(x) + ' tidak sama dengan ' + str(y))
    print('-------------------------------------------------')

Perulangan ke-1
0 sama dengan 0
0 tidak sama dengan 1
0 tidak sama dengan 2
0 tidak sama dengan 3
0 tidak sama dengan 4
-------------------------------------------------
Perulangan ke-2
1 tidak sama dengan 0
1 sama dengan 1
1 tidak sama dengan 2
1 tidak sama dengan 3
1 tidak sama dengan 4
-------------------------------------------------
Perulangan ke-3
2 tidak sama dengan 0
2 tidak sama dengan 1
2 sama dengan 2
2 tidak sama dengan 3
2 tidak sama dengan 4
-------------------------------------------------
Perulangan ke-4
3 tidak sama dengan 0
3 tidak sama dengan 1
3 tidak sama dengan 2
3 sama dengan 3
3 tidak sama dengan 4
-------------------------------------------------
Perulangan ke-5
4 tidak sama dengan 0
4 tidak sama dengan 1
4 tidak sama dengan 2
4 tidak sama dengan 3
4 sama dengan 4
-------------------------------------------------